*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
}
#character {
    width: 20px;
    height: 50px;
    background-color: rgb(204, 6, 204);
    position: relative;
    top: 250px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump {
    0%{top: 250px;}
    30%{top: 200px;}
    70%{top: 200px;}
    100%{top: 250px;}
}
#block {
    width: 20px;
    height: 20px;
    background-color: rgb(16, 177, 16);
    position: relative;
    top: 230px;
    left: 580px;
    animation: block 1.4s infinite linear;
}
@keyframes block {
    0%{left: 600px;}
    100%{left: -20px;}
}
p{
    text-align: center;
}